In [3]:
import pandas as pd

In [4]:
dataset = pd.read_csv("trips.csv")

In [5]:
dataset.head()

,region,origin_coord,destination_coord,datetime,datasource
0,Prague,POINT (14.4973794438195 50.00136875782316),POINT (14.43109483523328 50.04052930943246),2018-05-28 09:03:40,funny_car
1,Turin,POINT (7.672837913286881 44.9957109242058),POINT (7.720368637535126 45.06782385393849),2018-05-21 02:54:04,baba_car
2,Prague,POINT (14.32427345662177 50.00002074358429),POINT (14.47767895969969 50.09339790740321),2018-05-13 08:52:25,cheap_mobile
3,Turin,POINT (7.541509189114433 45.09160503827746),POINT (7.74528653441973 45.02628598341506),2018-05-06 09:49:16,bad_diesel_vehicles
4,Turin,POINT (7.614078119815749 45.13433106465422),POINT (7.527497142312585 45.03335051325654),2018-05-23 12:45:54,pt_search_app

In [7]:
from typing import Tuple


def split_points(point: str) -> Tuple[str]:
    if point.startswith("POINT"):
        point = point.split("POINT")[-1]
        points = point.strip().replace("(", "").replace(")", "").split(" ")
        return (points[0], points[1])

In [14]:
point = dataset["origin_coord"].at[0]

In [18]:
origin_coord_tuples = dataset["origin_coord"].apply(lambda x: split_points(x))

In [32]:
dataset["origin_coord_x"] = pd.Series(origin_coord_tuples[:][0])
dataset["origin_coord_y"] = pd.Series(origin_coord_tuples[:][1])

In [33]:
destination_coord_tuples = dataset["destination_coord"].apply(lambda x: split_points(x))

In [69]:
destination_coord_tuples[:]

0     (14.43109483523328, 50.04052930943246)
1     (7.720368637535126, 45.06782385393849)
2     (14.47767895969969, 50.09339790740321)
3      (7.74528653441973, 45.02628598341506)
4     (7.527497142312585, 45.03335051325654)
                       ...
95    (14.45302412886982, 50.06961029075634)
96    (10.17431393081631, 53.51796499041119)
97    (14.59895464921585, 50.05472087955579)
98    (10.17914017806172, 53.60909301795856)
99    (14.31199296863995, 50.09604608872181)
Name: destination_coord, Length: 100, dtype: object

In [34]:
dataset["destination_coord_x"] = pd.Series(destination_coord_tuples[:][0])
dataset["destination_coord_y"] = pd.Series(destination_coord_tuples[:][1])

In [67]:
dataset.head()

,region,datetime,datasource,origin_coord_x,origin_coord_y,destination_coord_x,destination_coord_y
0,Prague,2018-05-28 09:03:40,funny_car,14.4973794438195,7.672837913286881,14.43109483523328,7.720368637535126
1,Turin,2018-05-21 02:54:04,baba_car,50.00136875782316,44.9957109242058,50.04052930943246,45.06782385393849
2,Prague,2018-05-13 08:52:25,cheap_mobile,NaN,NaN,NaN,NaN
3,Turin,2018-05-06 09:49:16,bad_diesel_vehicles,NaN,NaN,NaN,NaN
4,Turin,2018-05-23 12:45:54,pt_search_app,NaN,NaN,NaN,NaN

In [37]:
dataset.columns

Index(['region', 'origin_coord', 'destination_coord', 'datetime', 'datasource',
       'origin_coord_x', 'origin_coord_y', 'destination_coord_x',
       'destination_coord_y'],
      dtype='object')

In [38]:
dataset.drop(columns=["origin_coord", "destination_coord"], inplace=True)

In [47]:

from sqlalchemy import create_engine
import psycopg2

In [56]:
conn_string = 'postgresql+psycopg2://airflow:airflow@localhost/airflow'

In [57]:
# conn = psycopg2.connect("dbname=airflow user=airflow password=airflow")
# conn.autocommit = True
# cursor = conn.cursor()

In [59]:
db = create_engine(conn_string)
conn = db.connect()

In [70]:
dataset.to_sql('trips', con=conn, if_exists='append', index=False)

100