In [13]:
import pandas as pd

In [15]:

from sqlalchemy import create_engine
import psycopg2

In [43]:
from typing import Tuple

In [18]:
conn_string = 'postgresql+psycopg2://airflow:airflow@localhost/airflow'

In [19]:
db = create_engine(conn_string)
conn = db.connect()

In [40]:
dataset = pd.read_sql('SELECT * FROM trips', 'postgresql+psycopg2://airflow:airflow@localhost/airflow')

In [42]:
dataset.head()

,id,region,origin_coord_x,origin_coord_y,destination_coord_x,destination_coord_y,datetime,datasource,creation_date
0,1,Prague,14.497379,50.001369,14.431095,50.040529,2018-05-28 09:03:40,funny_car,2022-10-30
1,2,Turin,7.672838,44.995711,7.720369,45.067824,2018-05-21 02:54:04,baba_car,2022-10-30
2,3,Prague,14.324273,50.000021,14.477679,50.093398,2018-05-13 08:52:25,cheap_mobile,2022-10-30
3,4,Turin,7.541509,45.091605,7.745287,45.026286,2018-05-06 09:49:16,bad_diesel_vehicles,2022-10-30
4,5,Turin,7.614078,45.134331,7.527497,45.033351,2018-05-23 12:45:54,pt_search_app,2022-10-30

In [144]:
dataset[dataset["region"] == "Turin"].head()

,id,region,origin_coord_x,origin_coord_y,destination_coord_x,destination_coord_y,datetime,datasource,creation_date,origin_coord,origin_points,destination_points,week
1,2,Turin,7.672838,44.995711,7.720369,45.067824,2018-05-21 02:54:04,baba_car,2022-10-30,"(7.672837913286881, 44.9957109242058)","(7.672837913286881, 44.9957109242058)","(7.720368637535126, 45.06782385393849)",21
3,4,Turin,7.541509,45.091605,7.745287,45.026286,2018-05-06 09:49:16,bad_diesel_vehicles,2022-10-30,"(7.541509189114433, 45.09160503827746)","(7.541509189114433, 45.09160503827746)","(7.74528653441973, 45.02628598341506)",18
4,5,Turin,7.614078,45.134331,7.527497,45.033351,2018-05-23 12:45:54,pt_search_app,2022-10-30,"(7.614078119815749, 45.13433106465422)","(7.614078119815749, 45.13433106465422)","(7.527497142312585, 45.03335051325654)",21
7,8,Turin,7.560785,45.019016,7.583569,45.105269,2018-05-06 00:00:44,cheap_mobile,2022-10-30,"(7.560785081962462, 45.01901608530191)","(7.560785081962462, 45.01901608530191)","(7.583568695710608, 45.10526898076209)",18
8,9,Turin,7.702418,45.057550,7.623229,44.999698,2018-05-14 02:07:30,cheap_mobile,2022-10-30,"(7.702418079996892, 45.05754972796922)","(7.702418079996892, 45.05754972796922)","(7.623229346744799, 44.99969774086024)",20

In [202]:
from datetime import datetime

def ray_tracing_method(x, y, bounding_box) -> bool:

    n = len(bounding_box)
    inside = False

    point1_x, point1_y = bounding_box[0]
    for i in range(n+1):
        point2_x, point2_y = bounding_box[i % n]
        if y > min(point1_y, point2_y):
            if y <= max(point1_y, point2_y):
                if x <= max(point1_x, point2_x):
                    if point1_y != point2_y:
                        xints = (y-point1_y) * (point2_x-point1_x) / (point2_y-point1_y) + point1_x
                    if point1_x == point2_x or x <= xints:
                        inside = not inside
        point1_x,point1_y = point2_x, point2_y

    return inside


def weekly_mean_by_coordinate(dataframe: pd.DataFrame, bounding_box):
    
    def create_tuple(x, y): return (x, y)

    # bounding_box = sorted(coordinates, key=lambda x: x[0])
    dataframe["destination_points"] = dataframe[["destination_coord_x", "destination_coord_y"]].apply(lambda x: create_tuple(*x), axis=1)
    
    # filtering the dataframe to only sample that the points lies in bounding_box
    area_data = dataframe[dataframe["destination_points"].apply(lambda x: ray_tracing_method(x[0], x[1], bounding_box) )]
    if(area_data.size == 0): return 0

    # get the week number of the year
    area_data["week"] = area_data["datetime"].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').isocalendar().week)
    
    # summarize the number of trips by weekly and divide by the number of weeks
    return area_data["week"].value_counts().values.mean()


def weekly_mean_by_region(region_name: str) -> float:
    region_data = dataset[dataset["region"] == region_name]
    if(region_data.size == 0): return 0

    # get the week number of the year
    region_data["week"] = region_data["datetime"]\
        .apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').isocalendar().week)
    
    # summarize the number of trips by weekly and divide by the number of weeks
    return region_data["week"]\
        .value_counts()\
        .values.mean()

In [198]:
bb = [(7.51, 45), (7.75, 45), (7.51, 50), (7.75, 50)]

In [199]:
area_data = dataset[dataset["destination_points"].apply(lambda x: ray_tracing_method(x[0], x[1],  bb) )]
area_data["week"] = area_data["datetime"].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').isocalendar().week)
area_data["week"].value_counts().values.mean()

C:\Users\igor_farias\AppData\Local\Temp\ipykernel_9560\2860497591.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  area_data["week"] = area_data["datetime"].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').isocalendar().week)

6.0

In [203]:
weekly_mean_by_coordinate(dataset, [(7.50, 45), (7.75, 45), (7.50, 50), (7.75, 50)])

C:\Users\igor_farias\AppData\Local\Temp\ipykernel_9560\2588030798.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  area_data["week"] = area_data["datetime"].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').isocalendar().week)

6.0

In [154]:
test

0

In [139]:
test.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [31]:
import numpy as np

In [34]:
np.array(array).max()

17

In [66]:
ray_tracing_method(-5, -5, [(-10, -10), (-8, 3), (0, 0), (1, -9)])

True

In [68]:
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

point = Point(-5, -5)
polygon = Polygon([(-10, -10), (1, -9), (0, 0), (-8, 3)])
print(polygon.contains(point))

True

In [69]:
polygon.area

105.0

In [101]:
from datetime import datetime

In [110]:
dataset["datetime"].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').isocalendar().week)

0     22
1     21
2     19
3     18
4     21
      ..
95    18
96    21
97    19
98    21
99    20
Name: datetime, Length: 100, dtype: int64